* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
}

body {
    background-color: #f2ede3; /* Warm beige */
    margin: 0;
}

.form-container {
    width: 400px;
    background-color: #fae4d6; /* Peach */
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    border-radius: 10px;
}

body.login-page .form-container {
    padding-bottom: 15px;
}

.form-container h1 {
    text-align: center;
    color: #a1856b; /* Brownish gray */
    font-size: 24px;
    padding: 20px 0;
    border-bottom: 1px solid #d4c3b4; /* Light brown */
}

.form-container form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.form-container form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #e79e91; /* Coral peach */
    color: #ffffff;
    transform: translateY(-50%);
}

.form-container form input[type="password"],
.form-container form input[type="text"],
.form-container form input[type="tel"],
.form-container form input[type="email"]  {
    width: 310px;
    height: 50px;
    border: 1px solid #d4c3b4; /* Light brown */
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0 15px;
}

.form-container form select {
    width: 310px;
    height: 50px;
    border: 1px solid #d4c3b4; /* Light brown */
    padding: 0 15px;
    margin-bottom: 20px;
}

.form-container form input[type="submit"] {
    width: 90%;
    padding: 15px;
    margin-top: 0px;
    margin-bottom: 20px;
    background-color: #e79e91; /* Coral peach */
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
    border-radius: 10px;
}

.form-container form input[type="submit"]:hover {
    background-color: #c68376; /* Darker coral peach */
    transition: background-color 0.2s;
    margin-bottom: 20px;
}

.form-container #login-button {
    /* Your default styles */
    width: 90%;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #e79e91; /* Coral peach */
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
    border-radius: 10px;
}

.form-container #login-button:hover {
    background-color: #c68376; /* Darker coral peach */
    transition: background-color 0.2s;
    margin-bottom: 20px;
}

.form-container p {
    text-align: center;
    color: #a1856b; /* Brownish gray */
    margin-top: 0px;
    margin-bottom: 10px;
}

.form-container a {
    color: #e79e91; /* Coral peach */
    text-decoration: none;
    font-weight: bold;
}

.form-container a:hover {
    text-decoration: underline;
}

.forgot-password a {
    color: #e79e91; /* Coral peach */
    text-decoration: none;
    margin-left: 250px;
    font-size: 14px;
    font-weight: normal;
    margin-top: 0px;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.error {
    color: #ff0000;
    margin-top: 5px;
}

.navtop {
    background-color: #c68376; /* Dark coral peach */
    height: 60px;
    width: 100%;
    border: 0;
}

.navtop div {
    display: flex;
    margin: 0 auto;
    width: 925px;
    height: 100%;
}

.navtop div h1, .navtop div a {
    display: inline-flex;
    align-items: center;
}

.navtop div h1 {
    flex: 1;
    font-size: 24px;
    padding: 0;
    margin: 0;
    color: #eaebed; /* Light gray */
    font-weight: normal;
}

.navtop div a {
    padding: 0 20px;
    text-decoration: none;
    color: #ececec; /* Light gray */
    font-weight: bold;
}

.navtop div a i {
    padding: 2px 8px 0 0;
}

.navtop div a:hover {
    color: #ffffff; /* Light gray */
}

body.loggedin {
    background-color: #f3f4f7; /* Light blue-gray */
}

.content {
    width: 925px;
    margin: 0 auto;
}

.content h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    border-bottom: 1px solid #e0e0e3; /* Light gray */
    color: #a5aec7; /* Light blue-gray */
}

content h3 {
    font-size: 22px;
    color: #4e4e4e;
    margin-bottom: 10px;
}

.content > p,
.content > div {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    margin: 25px 0;
    padding: 25px;
    background-color: #fae4d6; /* Peach */
}

.content > p table td,
.content > div table td {
    padding: 5px;
}

.content > p table td:first-child,
.content > div table td:first-child {
    font-weight: bold;
    color: #b3b8ca;
    padding-right: 15px;
}

.content > div p {
    padding: 5px;
    margin: 0 0 10px 0;
}

.reset-password {
    width: 400px;
    background-color: #fae4d6; /* Peach */
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    text-align: center;
    border-radius: 10px;
}

.reset-password h2 {
    text-align: center;
    color: #a1856b; /* Brownish gray */
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #d4c3b4; /* Light brown */
}

.reset-password form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.reset-password label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #e79e91; /* Coral peach */
    font-weight: bold;
    margin-top: 15px;
}

.reset-password input[type="password"], .reset-password input[type="text"], .reset-password input[type="email"] {
    width: 310px;
    height: 50px;
    border: 1px solid #d4c3b4; /* Light brown */
    margin-bottom: 10px;
    padding: 0 15px;
}

.reset-password button[type="submit"] {
    width: 78%;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #e79e91; /* Coral peach */
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
    border-radius: 10px;
}

.reset-password button[type="submit"]:hover {
    background-color: #c68376; /* Darker coral peach */
    transition: background-color 0.2s;
    margin-bottom: 20px;
}

.security-question {
    margin-top: 5px;
    margin-bottom: 0px;
}

.question-label {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0px;
    text-align: center;
}

.question-text {
    font-size: 14px;
    color: #333;
    text-align: center;
}

.modal-content {
    text-align: center;
    width: 80%;
    max-width: 650px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fae4d6; /* Peach */
}

#request_modal h2 {
    font-size: 20px;
    color: #4e4e4e;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-top: 25px;
    margin-bottom: 10px;
    color: #e79e91; /* Coral peach */
}

textarea,
select {
    width: calc(100% - 10px);
    height: 40px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-group textarea#object_details {
    height: 120px;
    padding: 10px;
}

input[type="file"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.note {
    font-size: 14px;
    color: #777;
    display: block;
    margin-top: 5px;
}

.submit-button {
    width: 99%;
    padding: 10px;
    background-color: #e79e91; /* Coral peach */
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px;
}

.submit-button:hover {
    background-color: #c68376; /* Darker coral peach */
    transition: background-color 0.2s;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.custom-table, .custom-table th, .custom-table td {
    border: 1px solid #d4c3b4; /* Light brown */
}

.custom-table th, .custom-table td {
    padding: 12px;
    text-align: left;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
}

.custom-table td.center-id {
    text-align: center;
    vertical-align: middle;
    transform: translateX(10%);
}

.custom-table th {
    background-color: #f4ede7; /* Light peach */
}

.custom-table img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
    display: block;
    transform: translateX(0.55%);
    margin: 0 auto;
}